<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.ckeditor.com/ckeditor5/24.0.0/classic/ckeditor.js"></script>
    <title>Document</title>
</head>
<body>
    <%- include layout/header.ejs %>
    <div class="container">
        <h1>Add blog</h1>
        <%- messages() %>

        <% if(locals.errors) { %>
        <ul class="alert alert-danger">
            <% Object.values(errors).forEach(function(error){ %>
                <li><%= error.msg %></li>
            <%  }) %>
        </ul>
        <% } %>
        <form action="/blog/add" method="post">
            <div class="form-group">
                <label for="">ชื่อบทความ</label>
                <input type="text" name="name" class="form-control">
            </div>
            <div class="form-group">
                <label for="">รายละเอียด</label>
                <textarea type="text" name="description" rows="8" cols="80"  class="form-control" id="editor" ></textarea>
            </div>
            <div class="form-group">
                <label for="">ผู้แต่ง</label>
                <input type="text" name="author" class="form-control">
            </div>
            <input type="submit" value="บันทึก" class="btn btn-primary">
        </form>
    </div>
    <script>
        $(function(){
            $('#messages').addClass('alert alert-success');
        });
        ClassicEditor
                .create( document.querySelector( '#editor' ) )
                .then( editor => {
                        console.log( editor );
                } )
                .catch( error => {
                        console.error( error );
                } );
    </script>
</body>
</html>