<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label for="name">ชื่อพนักงาน</label>
        <input type="text" v-model="newData.empName">
        <label for="salary">เงินเดือน</label>
        <input type="text" v-model="newData.salary">
        <button @click="addEmp">บันทึกข้อมูล</button>
        <br>
        <ul>
            <li v-for="emp in empGroup">
                {{ emp.empName }} ได้เงืนเดือน {{ emp.salary }}
            </li>
        </ul>
        <h1>{{ summation }}</h1>
    </div>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="method.js"></script>
</html>